@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: #EEEEEE;
}

main {
  box-sizing: border-box;
  padding: 24px;
  margin: 0px auto;
  max-width: 1000px;

  @media screen and (max-width: 1024px) {
    margin-top: 72px;
  }

  &.homepage {
    // classes for homepage goes here
  }

  &.aboutpage {
    // classes for about page goes here
  }

  &.successpage {
    text-align: center;
  }

    &.successpage .cag-bg {
      background: url('./assets/cagbg.png');
      background-size: cover;
      background-repeat: no-repeat; 
      background-position: center top;
      width: 100%;
      padding: 40px 0 60px;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    &.successpage .cag-logo {
      margin-bottom: 20px;
    }

    &.successpage .diva-caption {
      letter-spacing: 2px;
    }

    &.successpage .ins-container {
      margin-top: -40px;
    }

    &.successpage .ins-caption {
      margin-top: 20px;
    }

    &.successpage .tick-icon {
      background-color: #008545;
      color: #FFFFFF;
      border: 4px solid #FFFFFF;
    }

    &.successpage .success-card {
      text-align: left;
      margin-top: 24px;
      padding: 24px;
    }

    &.successpage .diva-paragraph {
      padding-bottom: 20px;
    }

    &.successpage .diva-subheader {
      color: #999999;
      padding-bottom: 8px;
    }

    &.successpage .field-container {
      margin: 16px 0;
    }

    &.successpage .detail-container {
      border-bottom: 1px solid #E5E5E5;
      padding-bottom: 8px;
      margin-bottom: 16px;
    }
}
